.taxi{
    margin-top: 40px;
    height: 300px;
    width: 100%;
    background: url('/assets/img/taxi.png');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:20px;
    &__block{
        padding-left: 38px;
        padding-top: 34px;
        padding-bottom: 39px;
    }
    &__title{
        font-weight: 700;
        font-size: 28px;
        line-height: 118%;
        margin: 0;
        color: #FFFFFF;
    }
    &__info{
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 117%;
        color: #FFFFFF;
        letter-spacing: 0.54px;
        margin: 0;
        margin-top: 20px;
    }
    &__btn{
        margin-top: 49px;
        width: 170px;
        height: 50px;
        background: #FFFFFF;
        border-radius: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 119%;
        color: #201311;
        border:none;
        transition: 0.3s all;
        &:hover{
            font-weight: 500;
  
        }
    }
}



@media(max-width:768px){
    .taxi{
        height: 220px;

    }
    .taxi__block{
        padding-top: 22px;
        padding-left: 23px;
        padding-right: 23px;
        padding-bottom: 21px;
    }
    .taxi__btn{
        margin-top: 40px;
    }
    .taxi__title{
        font-size: 20px;
    }
    .taxi__info{
        font-size: 14px;

    }
    .taxi__btn{
        width: 140px;
        height: 45px;
    }
}

@media(max-width:450px){
    .taxi__btn{
        margin-top: 10px;
    }
    .taxi{
        background: url('/assets/img/taxi-mobile.png') !important;
        background-repeat:no-repeat !important;    background-size: cover !important;
    }
}