<footer class="footer">
    <div class="container">
        <div class="footer__content">

            <div class="footer__logo">
                <img src="assets/img/footer-logo.svg" alt="Логотип">
                <h2>Производство <br> памятников из гранита</h2>
            </div>

            <div class="footer__address">
                <div class="footer__title">
                    Адрес
                    <img src="assets/img/address-ico.svg" alt="Адрес">
                </div>
                    <p>Республика Беларусь</p>
                    <p>Брестская обл., г. Пинск</p>
                    <p>ул.Уличная, д. 13</p>
            </div>

            <div class="footer__contacts">
                <div class="footer__title">
                    Контакты
                    <img src="assets/img/contacts-ico.svg" alt="Контакты">
                </div>
                <p><a href="">+375 (29) 111-11-11</a></p>
                <p><a href="">+375 (29) 111-11-11</a></p>
                <p><a href="">info@top24.by</a></p>
            </div>

            <div class="footer__time">
                <div class="footer__title">
                    Время работы
                    <img src="assets/img/time-ico.svg" alt="Время работы">
                </div>
                <p>Пн-Пт: 9.00 - 18.00</p>
                <p>Сб: 10.00 - 15.00</p>
                <p>Воскресенье - ВЫХОДНОЙ</p>
            </div>

            <div class="footer__social">
                <p class="footer__social-title">Прием заказов:</p>
                <a class="footer__social-number" href="">+375 (29) 111-11-11</a>
                <p>  Мы в социальных сетях:</p>
                <div class="footer__social-block">
                    <img src="assets/img/inst.svg" alt="Интсаграм">
                    <img src="assets/img/fb.svg" alt="Facebook">
                    <img src="assets/img/ok.svg" alt="Одноклассники">
                    <img src="assets/img/vk.svg" alt="Вконтакте">
                </div>
            </div>
        </div>
        <p class="footer__oferta">Содержание сайта не является офертой и носит информационно-справочный характер.</p>
        <div class="footer__under">
            <div class="footer__copyright">
                © 2023, Все права защищены.
            </div>
            <div class="footer__developer">
               <a target="_blank" href="https://anika-cs.by/">Разработка сайтов и программного обеспечения ООО “Креативная студия АникА”</a> 
            </div>
        </div>
    </div>
</footer>