<header class="header">
    <div class="container header__container">
        <div class="header__block-logo">
            <img class="header__logo" src="assets/img/logo.svg" alt="Логотип">
            <h1 class="header__heading">Производство памятников из гранита</h1>
        </div>
        <div class="header__block-call">
            <div class="header__call">   
                <a href="tel:+375291111111"><img class="header__phone" src="assets/img/phonelink.gif" alt="Телефон">                    </a>         
                <a class="header__call-link" href="tel:+375291111111">+375 29 111 11 11</a></div>
            <button class="button button__header">Заказать звонок</button>
        </div>
    </div>
</header>